# Create Schema and test data

## Create Schema

### folders table

```sql
CREATE TABLE IF NOT EXISTS folders
(
    id   BIGINT      NOT NULL DEFAULT 0,
    name VARCHAR(50) NOT NULL DEFAULT 0,
    CONSTRAINT folders_pk PRIMARY KEY (id)
);
```

### hierarchy table

```sql
CREATE TABLE IF NOT EXISTS hierarchy
(
    parent_id BIGINT NOT NULL,
    child_id  BIGINT NOT NULL,
    length    int    NOT NULL,
    CONSTRAINT hierarchy_pk
        PRIMARY KEY (parent_id, child_id),
    CONSTRAINT hierarchy_child_fk
        FOREIGN KEY (child_id) REFERENCES folders (id),
    CONSTRAINT hierarchy_parent_fk
        FOREIGN KEY (parent_id) REFERENCES folders (id)
);
```

## Create data

### folders data

```sql
INSERT INTO folders (id, name)
VALUES (1, 'People Space'), (2, 'India'), (3, 'Global'), (4, 'CSR India'),
       (5, 'Talent Acquisition'), (6, 'Employee Experience'), (7, 'Total Rewards'), (8, 'Employee Benefits'),
       (9, 'Timeoff'), (10, 'Online Doctor Consultation'), (11, 'Daycare program'), (12, 'Holidays'),
       (13, 'Practo'), (14, 'Medibuddy'), (15, 'Holiday calendar 2023'), (16, 'IT BU'),
       (17, 'Freddy'), (18, 'Engineering'), (19, 'Tech Design'), (20, 'Virtual Agent'), (21, 'Q2C');
```

### hierarchy data

```sql
INSERT INTO hierarchy(parent_id, child_id, length)
VALUES (1, 1, 0), (1, 2, 1), (1, 3, 1), (1, 4, 2), (1, 5, 2), (1, 6, 2), (1, 7, 2),
       (1, 8, 3), (1, 9, 3), (1, 10, 4), (1, 11, 4), (1, 12, 4), (1, 13, 5), (1, 14, 5),
       (1, 15, 5), (2, 2, 0), (2, 4, 1), (2, 5, 1), (2, 6, 1), (2, 7, 1), (2, 8, 2), 
       (2, 9, 2), (2, 10, 3), (2, 11, 3), (2, 12, 3), (2, 13, 4), (2, 14, 4), (2, 15, 4),
       (3, 3, 0), (4, 4, 0), (5, 5, 0), (6, 6, 0), (6, 8, 1), (6, 9, 1), (6, 10, 2), (6, 11, 2),
       (6, 12, 2), (6, 13, 3), (6, 14, 3), (6, 15, 3), (7, 7, 0), (8, 8, 0), (8, 10, 1), (8, 11, 1),
       (8, 13, 2), (8, 14, 2), (9, 9, 0), (9, 12, 1), (9, 15, 2), (10, 10, 0), (10, 13, 1), (10, 14, 1),
       (11, 11, 0), (12, 12, 0), (12, 15, 1), (13, 13, 0), (14, 14, 0), (15, 15, 0);
```